s_guest: article

  header.ct-header
    h1.title= "방명록"

  section.gb-write
    h2= "작성하기"
    s_guest_input_form
      div.use-js.ct-reply-textarea
        textarea(name="[##_guest_textarea_body_##]" placeholder="한 마디 남겨주세요.")
      div.use-js.ct-reply-author
        s_guest_member
          s_guest_form
            input(type="text" name="[##_guest_input_name_##]" value="[##_guest_name_##]" placeholder="이름")
            input(type="password" maxlength="8" name="[##_guest_input_password_##]" value="[##_guest_password_##]" placeholder="비밀번호")
            input(type="hidden" name="[##_guest_input_homepage_##]")
        input.no-dark(type="submit" value="글 남기기" onclick="[##_guest_onclick_submit_##]")

  section.ct-reply-list
    h2= "기록"
    s_guest_container: ol
      s_guest_rep: li(id="[##_guest_rep_id_##]" class="[##_guest_rep_class_##]")
        span.name= "[##_guest_rep_name_##]"
        span.date= "[##_guest_rep_date_##]"
        div.use-js.control
          a.modify(href="#" onclick="[##_guest_rep_onclick_delete_##]")= "관리"
          a.write(href="#" onclick="[##_guest_rep_onclick_reply_##]")= "답글"
        p= "[##_guest_rep_desc_##]"
        s_guest_reply_container: ol
          s_guest_reply_rep: li(id="[##_guest_rep_id_##]" class="[##_guest_rep_class_##]")
            span.name= "[##_guest_rep_name_##]"
            span.date= "[##_guest_rep_date_##]"
            div.use-js.control
              a.modify(href="#" onclick="[##_guest_rep_onclick_delete_##]")= "관리"
            p= "[##_guest_rep_desc_##]"
