s_guest: article

  header.ct-header
    h1.ct-title= "방명록"
    s_if_var_name-main
      h2.ct-subtitle= "블로그가 괜찮았다면 한 마디 남겨주세요."
    s_not_var_name-main
      h2.ct-subtitle= "블로그가 괜찮았다면 한 마디 남겨주세요."

  section.ct-reply-write
    h3= "작성하기"
    s_guest_input_form
      div.use-js.ct-reply-textarea
        textarea(name="[##_guest_textarea_body_##]" placeholder="여기다 써주시면 돼요.")

      div.use-js.ct-reply-author
        s_guest_member
          s_guest_form
            input(type="text" name="[##_guest_input_name_##]" value="[##_guest_name_##]" placeholder="이름")
            input(type="password" maxlength="8" name="[##_guest_input_password_##]" value="[##_guest_password_##]" placeholder="비밀번호")
            input(type="hidden" name="[##_guest_input_homepage_##]")
            label(for="isSecret" title="비밀글")
              include ../icons/padlock-unlocked
              include ../icons/padlock-locked
            input(type="checkbox" id="isSecret" name="secret" onchange="PtStore['secret-comment'].toggle(this)")
        input(type="submit" value="글 남기기" onclick="[##_guest_onclick_submit_##]")

  section.ct-reply-list
    h3= "기록"
    s_guest_container: ol
      s_guest_rep: li(id="[##_guest_rep_id_##]" class="[##_guest_rep_class_##]")
        span.ct-reply-name= "[##_guest_rep_name_##]"
        span.ct-reply-date(data-tistory-time="PARSE_NEEDED" data-tistory-time-detail="true")
          span.no-effect= "[##_guest_rep_date_##]"
        div.use-js.ct-reply-control
          a.modify(href="#" onclick="[##_guest_rep_onclick_delete_##]")= "관리"
          a.write(href="#" onclick="[##_guest_rep_onclick_reply_##]")= "답글"
        p= "[##_guest_rep_desc_##]"
        s_guest_reply_container: ol
          s_guest_reply_rep: li(id="[##_guest_rep_id_##]" class="[##_guest_rep_class_##]")
            span.ct-reply-name= "[##_guest_rep_name_##]"
            span.ct-reply-date(data-tistory-time="PARSE_NEEDED" data-tistory-time-detail="true")
              span.no-effect= "[##_guest_rep_date_##]"
            div.use-js.ct-reply-control
              a.modify(href="#" onclick="[##_guest_rep_onclick_delete_##]")= "관리"
            p= "[##_guest_rep_desc_##]"
    script.
      document.querySelectorAll('.hiddenComment').forEach((comment) => {
        comment.querySelector('p').innerText = '⛔ 비밀글이에요.';
      });
