//- Post common ingredients

mixin title(ingType = "article")
  h1.ct-title
    if ingType == "article"
      a.no-underline(href="[##_article_rep_link_##]")
        = "[##_article_rep_title_##]"
    else if ingType == "list"
      = "[##_list_rep_title_##]"

mixin tags(ingType = "article")
  if ingType == "article"
    s_tag_label: span.ct-tags
      span.speak-only= "태그"
      span.tag-anchors= "[##_tag_label_rep_##]"

mixin meta(ingType = "article", onlyAdminTools = false)
  section.ct-meta

    .left
      if onlyAdminTools == false
        span.date(data-rfc-time="[##_" + ingType + "_rep_date_year_##]-[##_" + ingType + "_rep_date_month_##]-[##_" + ingType + "_rep_date_day_##]T[##_" + ingType + "_rep_date_hour_##]:[##_" + ingType + "_rep_date_minute_##]:[##_" + ingType + "_rep_date_second_##]+0900")
          span.no-effect= "[##_" + ingType + "_rep_date_year_##]년 [##_" + ingType + "_rep_date_month_##]월 [##_" + ingType + "_rep_date_day_##]일 [##_" + ingType + "_rep_date_hour_##]:[##_" + ingType + "_rep_date_minute_##]"

        span.category
          if ingType == "article"
            a.no-underline(href="[##_article_rep_category_link_##]")
              = "[##_article_rep_category_##]"
          else if ingType == "list"
            span.no-effect= "[##_list_rep_category_##]"

        if ingType == "article"
          s_rp_count: span.comments-count(data-count="[##_article_rep_rp_cnt_##]")
            span.speak-only= "댓글 수 "
            a.no-underline(href="#comments")
              span.count-text= "[##_article_rep_rp_cnt_##]개"
        else if ingType == "list"
          span.comments-count(data-count="[##_list_rep_rp_cnt_##]")
            span.speak-only= "댓글 수 "
            span.no-effect.count-text= "[##_list_rep_rp_cnt_##]개"

    .right.admin-tools

      if ingType == "article"
        s_ad_div
          span.publishment-status
            span.no-effect= "[##_s_ad_s1_label_##]"
          span.publishment-tools
            a.no-effect.use-js(href="#" onclick="[##_s_ad_s2_onclick_##]" title="이 게시글을 [##_s_ad_s2_label_##].")= "발행 전환"
            span.no-effect= " / "
            a.no-effect.use-js(href="#" onclick="[##_s_ad_m_onclick_##]")= "수정"
            span.no-effect= " / "
            a.no-effect.use-js(href="#" onclick="[##_s_ad_d_onclick_##]")= "삭제"

mixin body()
  section.ct-body
    span.speak-only= "본문"
    = "[##_article_rep_desc_##]"
