//- Post common ingredients

mixin title(useAnchor = true)
  h1.title
    if useAnchor
      a.no-underline(href="[##_article_rep_link_##]")
        | [##_article_rep_title_##]
    else
      | [##_article_rep_title_##]

mixin meta(useAnchor = true)
  section.meta
    span.date(data-rfc-time="[##_article_rep_date_year_##]-[##_article_rep_date_month_##]-[##_article_rep_date_day_##]T[##_article_rep_date_hour_##]:[##_article_rep_date_minute_##]:[##_article_rep_date_second_##]+0900")
      | [##_article_rep_date_year_##]년 [##_article_rep_date_month_##]월 [##_article_rep_date_day_##]일 [##_article_rep_date_hour_##]:[##_article_rep_date_minute_##]
    span.category
      if useAnchor
        a.no-underline(href="[##_article_rep_category_link_##]")
          | [##_article_rep_category_##]
      else
        | [##_article_rep_category_##]
    s_rp_count: span.comments-count(data-count="[##_article_rep_rp_cnt_##]")
      if useAnchor
        a.no-underline(href="#comments")
          span.speak-only= "댓글 수 "
          span.count-text= "[##_article_rep_rp_cnt_##]개"
      else
        span.speak-only= "댓글 수 "
        span.count-text= "[##_article_rep_rp_cnt_##]개"

mixin body(appendHiddenHeader = true)
  section.ct-body
    if appendHiddenHeader
      span.speak-only= "본문"
    | [##_article_rep_desc_##]
