include ingredients

//- Each post
s_article_rep: s_permalink_article_rep
  article

    header.ct-header
      +title("article")
      +meta("article")
    +body()

    footer.ct-footer
      s_tag_label: section.ct-tags
        span= "태그"
        | [##_tag_label_rep_##]
      section#comments.ct-reply-list
        s_rp
          h2= "댓글"
          s_rp_container: ol
            s_rp_rep: li(id='[##_rp_rep_id_##]' class="[##_rp_rep_class_##]")
              span.ct-reply-name= "[##_rp_rep_name_##]"
              span.ct-reply-date= "[##_rp_rep_date_##]"
              div.ct-reply-control
                a.address(href="[##_rp_rep_link_##]")= "#"
                a.use-js.modify(href="#" onclick="[##_rp_rep_onclick_delete_##]")= "관리"
                a.use-js.write(href="#" onclick="[##_rp_rep_onclick_reply_##]")= "대댓글"
              p= "[##_rp_rep_desc_##]"
              s_rp2_container: ol
                s_rp2_rep: li(id="[##_rp_rep_id_##]" class="[##_rp_rep_class_##]")
                  span.name= "[##_rp_rep_name_##]"
                  span.date= "[##_rp_rep_date_##]"
                  div.control
                    a.address(href="[##_rp_rep_link_##]")= "#"
                    a.use-js.modify(href="#" onclick="[##_rp_rep_onclick_delete_##]")= "관리"
                  p= "[##_rp_rep_desc_##]"
          s_rp_input_form
            div.use-js.ct-reply-textarea
              textarea(name="[##_rp_input_comment_##]" placeholder="하고 싶은 말이 무엇인가요?")
            div.use-js.ct-reply-author
              s_rp_member
                s_rp_guest
                  input(type="text" name="[##_rp_input_name_##]" value="[##_guest_name_##]" placeholder="이름")
                  input(type="password" maxlength="8" name="[##_rp_input_password_##]" value="[##_guest_password_##]" placeholder="비밀번호")
                  input(type="hidden" name="[##_rp_input_homepage_##]")
                label(for="isSecret" title="비밀글")
                  include ../icons/padlock-unlocked
                  include ../icons/padlock-locked
                input(type="checkbox" id="isSecret" name="[##_rp_input_is_secret_##]" onchange="Pt.comment.toggle(this)")
              input.no-dark(type="submit" value="댓글 달기" onclick="[##_rp_onclick_submit_##]")
